logs
frontend/project/project
backend/project/project
frontend/project/target
backend/project/target
frontend/target
backend/target
tmp
.history
dist
frontend/.idea
backend/.idea
/*.iml
/out
/.idea_modules
.classpath
.project
/RUNNING_PID
.settings
.target
.cache
bin
.DS_Store
activator-sbt-*-shim.sbt
