@import UIForm.ApiForm
@import UIForm.Comment


@(api: ApiForm, comments: List [Comment])

@main(api.getType() + " - " + api.getName()) {
    @menu()

    <div class="container">
        <h2>Submission Details</h2>
        <div class="row">
            <div class="col-s3">
                <h5>API info</h5>
                <p>Published by: @api.getUser_id()</p>
                <p>Endpoint: @api.getEndpoint()</p>
                <p>Homepage: @api.getHomepage()</p>
                <p>Version: @api.getVersion()</p>
                <p>Scope: @api.getScope()</p>
                <p>Description: @api.getDescription()</p>
                <p>Support: <a href="@api.getEmail()"></a> @api.getEmail()</p>
            </div>

            <div class="col-s9">
                <h5>Comments</h5>
                @for(comment <- comments) {
                    <div class="card">
                        <div class="card-content">
                            <p>@comment.getContent()</p>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
}