@import UIForm.ApiForm
@import UIForm.Comment


@(username: String, userType: String, api: ApiForm, comments: List [Comment])

@main(api.getType() + " - " + api.getName()) {
    @menu(username, userType)

    <div class="container">
        <h2>You are currently updating @api.getType() @api.getName()</h2>

        <div class="row">
            <div class="col s3">
                <h5>@api.getType() info</h5>
                <p>Published by: @api.getUser_id</p>
                <p>Endpoint: @api.getEndpoint()</p>
                <p>Homepage: @api.getHomepage()</p>
                <p>Version: @api.getVersion()</p>
                <p>Scope: @api.getScope()</p>
                <p>Description: @api.getDescription()</p>
            </div>
        </div>
        @if(username == api.getUser_id()) {
            <div class="row">
                <div class="col s12">
                    <a class="btn-flat right" href="@routes.ApiVersionController.updateApiView(api.getId())">
                        <span style="margin-right: 10px; display: block; float: left;">Update this API</span>
                        <i class="material-icons">update</i>
                    </a>
                    <a class="btn-flat right" href="@routes.ApiVersionController.allVersionsForApiView(api.getId())">
                        <span style="margin-right: 10px; display: block; float: left;">See all versions</span>
                        <i class="material-icons">list</i>
                    </a>
                </div>
            </div>
        }
    </div>

    <script src="@routes.Assets.versioned("javascripts/controllers/addComment.js")" type="text/javascript"></script>

}