@main("Submit a Mashup") {

    <div class="header red darken-3">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h2>Welcome to this Service Repository</h2>
                    <p>Submit a Mashup</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            @helper.form(routes.MashupController.submitMashup()) {
                <div class="input-field col s12">
                    <input placeholder="Name" id="name" name="name" type="text" required>
                    <label for="name">Name</label>
                </div>

                <div class="input-field col s12">
                    <input placeholder="URL" id="url" name="url" type="text" required>
                    <label for="url">URL</label>
                </div>

                <div class="input-field col s12">
                    <textarea placeholder="Description" id="description" name="description" class="materialize-textarea"></textarea>
                    <label for="description">Description</label>
                </div>

                <button class="btn right" type="submit" name="action">Submit
                    <i class="material-icons right">chevron_right</i>
                </button>
            }
        </div>
    </div>

    <script src="@routes.Assets.versioned("javascripts/controllers/submitMashup.js")" type="text/javascript"></script>
}
