@(username: String, userType: String)

    <nav class="nav-extended">
        <div class="container">
            <div class="nav-wrapper">
                <ul class="left">
                    <li class="tab"><a href="@routes.HomeController.homeView()"><i class="material-icons">home</i></a></li>
                    <li><a href="@routes.ApiController.submitView()"><i class="material-icons left">add</i>Submit</a></li>
                    <li><a href="@routes.ApiController.searchApiView()"><i class="material-icons left">search</i>Search</a></li>
                    <li><a href="@routes.ClassificationController.classficationView()">API Classification</a></li>
                    @if(userType == "ADMIN_USER") {
                        <li><a href="@routes.LogMessageController.logMessagesView()"><i class="material-icons left">list</i>Log</a></li>
                        <li><a href="@routes.ApproveApiController.approveApiView()"><i class="material-icons left">check</i>API Check</a></li>
                    }
                </ul>
                <ul id="navbar-dropdown" class="dropdown-content">
                    <li><a href="@routes.FollowerController.myFollowersView()"><i class="material-icons left">list</i>Submissions</a></li>
                    <li><a href="@routes.MessageController.showMessageView()"><i class="material-icons left">mail_outline</i>Messages</a></li>
                    <li><a href="@routes.UserProfileController.getUserProfile()"><i class="material-icons left">settings</i>Profile</a></li>
                    <li><a href="@routes.DonationController.donationView()"><i class="material-icons left">attach_money</i>Donate</a></li>
                    <li class="divider"></li>
                    <li><a href="@routes.LoginController.logout"><i class="material-icons left">exit_to_app</i>Log Out</a></li>
                </ul>
                <ul class="right">
                    <li><a class="dropdown-trigger" href="#!" data-target="navbar-dropdown"><i class="material-icons left">person</i>@username
                    @if(userType == "STANDARD_USER") {
                        (User)
                    } else {
                        (Admin)
                    }
                    <i class="material-icons right">arrow_drop_down</i></a></li>
                </ul>
            </div>
        </div>
    </nav>
