@()

@main("Messages | Service Repository"){

    @menu()

    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2>My messages</h2>
            </div>
        </div>
    </div>
    <div class="row">
@*
        <div class="conversationsWrapper">
            <div class="col s3 conversationListContainer">
                <div class="conversationList">
                    <ul>
                        <li class="conversation active">conv1</li>
                        <li class="conversation">conv2</li>
                        <li class="conversation">conv3</li>
                        <li class="conversation">conv4</li>
                        <li class="conversation">conv5</li>
                        <li class="conversation">conv1</li>
                        <li class="conversation">conv2</li>
                        <li class="conversation">conv3</li>
                        <li class="conversation">conv4</li>
                        <li class="conversation">conv5</li>
                        <li class="conversation">conv1</li>
                        <li class="conversation">conv2</li>
                        <li class="conversation">conv3</li>
                        <li class="conversation">conv4</li>
                        <li class="conversation">conv5</li>
                    </ul>
                </div>
            </div>

            <div class="col s9 conversationContent">
                blabla

                    <input type="text">
            </div>

        </div>
*@

        <div class="col s12">
            <div class="card horizontal">
                <div class="">
                    <ul class="conversationList">
                        <li class="conversation active">conv1</li>
                        <li class="conversation">conv2</li>
                        <li class="conversation">conv3</li>
                        <li class="conversation">conv4</li>
                        <li class="conversation">conv5</li>
                        <li class="conversation">conv1</li>
                        <li class="conversation">conv2</li>
                        <li class="conversation">conv3</li>
                        <li class="conversation">conv4</li>
                        <li class="conversation">conv5</li>
                        <li class="conversation">conv1</li>
                        <li class="conversation">conv2</li>
                        <li class="conversation">conv3</li>
                        <li class="conversation">conv4</li>
                        <li class="conversation">conv5</li>
                    </ul>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <ul class="conversationContent">
                            <li class="message">message1</li>
                            <li class="message">message1</li>
                            <li class="message">message1</li>
                            <li class="message">message1</li>
                            <li class="message">message1</li>
                            <li class="message">message1</li>
                            <li class="message">message1</li>
                        </ul>
                    </div>
                    <div class="card-action">
                        <div class="input-field col s11">
                            <input id="message" type="text" class="validate">
                            <label for="message">Type your message here.</label>
                        </div>
                        <div class="col s1 sendButton">
                            <a class="btn-floating btn-large red"><i class="material-icons">send</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

