@()

@main("Messages | Service Repository"){

    @menu()

    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2>My messages</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card horizontal">
                <div class="">
                    <ul class="conversationList">
                        <li class="conversation active" id="conv1">conv1</li>
                        <li class="conversation" id="conv2">conv2</li>
                        <li class="conversation" id="conv3">conv3</li>
                        <li class="conversation" id="conv4">conv4</li>
                        <li class="conversation" id="conv5">conv5</li>
                    </ul>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <ul class="conversationContent">
                            <li class="message">message1</li>
                            <li class="message">message1</li>
                            <li class="message">message1</li>
                            <li class="message">message1</li>
                            <li class="message">message1</li>
                            <li class="message">message1</li>
                            <li class="message">message1</li>
                        </ul>
                    </div>
                    <div class="card-action">
                        <div class="input-field col s11">
                            <input id="messageContent" type="text" class="validate">
                            <label for="messageContent">Type your message here.</label>
                        </div>
                        <div class="col s1 sendButton">
                            <button id="sendMessageButton" class="btn-floating btn-large red"><i
                            class="material-icons">send</i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="@routes.Assets.versioned("javascripts/controllers/messages.js")" type="text/javascript"></script>
}
