
@main("My Followers | Service Repository"){

    @menu()
    <div class="container">
        <div class="row">
            <div class="col s12" id="resultArea">
                <h4>List of Followers</h4>
                <table id="followerTable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>API</th>
                            <th>Follow</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td><a href=""></a></td>
                            <td></td>
                           
                            
                           
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <script src="@routes.Assets.versioned("javascripts/controllers/followers.js")" type="text/javascript"></script>
}

