
@main("Reset password | Service Repository") {

    <div class="header red darken-3">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h2>Welcome to this Service Repository</h2>
                    <p>To access our services, please login below.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col s8 offset-s2" id="loginForm">
            @helper.form(action = routes.LoginController.resetPassword()) {

                <div class="input-field col s12">
                    <input placeholder="Password" id="password" type="password" name="password">
                    <label for="password">Password</label>
                </div>

                <button id="signupButton" class="btn right" type="submit">Reset my password...
                    <i class="material-icons right">chevron_right</i>
                </button>
            </div>
            }
        </div>
    </div>
    @*<script src="@routes.Assets.versioned("javascripts/controllers/forgotPwd.js")" type="text/javascript"></script>*@
}
