@import UIForm.ApiForm
@import UIForm.Mashup

@(username: String, userType: String, apis: List [ApiForm], mashups: List [Mashup])

@main("Search | Service Repository"){

    @menu(username, userType)

    <div class="container">
        <div class="row">
            <div class="col s12">
                <h3>Search for API/Mashup</h3>
                @helper.form(action = routes.SubmitApiController.searchApis()) {

                    <div class="row">
                        <div class="input-field col s8">
                            <i class="material-icons prefix">search</i>
                            <input id="searchParam" type="text" name="searchParam">
                        </div>
                        @*<div class="col s1">*@
                            @*<label>*@
                                @*<input class="with-gap" name="type" type="radio" value="api" checked />*@
                                @*<span>API</span>*@
                            @*</label>*@
                        @*</div>*@
                        @*<div class="col s1">*@
                            @*<label>*@
                                @*<input class="with-gap" name="type" type="radio" value="mashup" />*@
                                @*<span>Mashup</span>*@
                            @*</label>*@
                        @*</div>*@
                        <div class="input-field col s2">
                            <select name="type">
                                <option value="api">API</option>
                                <option value="mashup">Mashup</option>
                            </select>
                            <label>API Type</label>
                        </div>
                        <div class="input-field col s2">
                            <button id="submitSearchButton" class="btn left" type="submit" name="search">Search
                                <i class="material-icons right">search</i>
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col s12" id="resultArea">
                <h4>Search Results</h4>
                <table id="apiTable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Follow</th>
                        </tr>
                    </thead>

                    <tbody>
                    @apis.map { api =>
                        <tr>
                            <td><a href="@routes.SubmitApiController.displayApiView(api.getId())">@api.getName()</a></td>
                            <td> @api.getDescription() </td>
                            @if(api.getStatus()=="YES"){
                                 <td><button class="btn left" type="submit" name="unfollow" >Following
                                    <i class="material-icons right">star</i>
                                 </button> </td>
                            } else{
                               <td> <button data-id="@api.getId()" class="btn left submitFollowButton" type="submit" name="follow">Follow
                                    <i class="material-icons right">star_border</i>
                                </button> </td>

                            }
                           
                        </tr>
                    }
                        @mashups.map { mashup =>
                            <tr>
                                <td><a href="@routes.SubmitApiController.displayApiView(mashup.getId())"> @mashup.getName()</a></td>
                                <td> @mashup.getDescription() </td>
                                @if(mashup.getStatus()=="YES"){
                                     <td><button class="btn left" type="submit" name="unfollow">Following
                                        <i class="material-icons right">following</i>
                                     </button> </td>
                                } else{
                                   <td> <button data-id="@mashup.getId()" class="btn left submitFollowButton" type="submit" name="follow">Follow
                                        <i class="material-icons right">follow</i>
                                    </button> </td>

                                }
                            </tr>
                        }

                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <script src="@routes.Assets.versioned("javascripts/controllers/followApi.js")" type="text/javascript"></script>
}

