@import UIForm.ApiForm
@import UIForm.Mashup

@(apis: List [ApiForm],mashups: List [Mashup])

@main("Search | Service Repository"){

    @menu()

    <div class="container">
        <div class="row">
            <div class="col s12">
                <h3>Search for API/Mashup</h3>
                @helper.form(action = routes.SubmitApiController.searchApis()) {
                <div>

                    <div class="input-field col s12">
                        <input placeholder="Enter Name" id="searchParam" type="text" name="searchParam">
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <p>
                                <label>
                            <input class="with-gap" name="type" type="radio" value="api" checked />
                            <span>API</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input class="with-gap" name="type" type="radio" value="mashup" />
                            <span>Mashup</span>
                        </label>
                    </p>
                        </div>
                    </div>
                    <div>
                    <button id="submitSearchButton" class="btn left" type="submit" name="search">Search
                        <i class="material-icons right">search</i>
                    </button>
                    </div>

                </div>
                }
            </div>
            <div class="col s12" id="resultArea">
                <h4>Search Results</h4>
                <table id="apiTable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                        </tr>
                    </thead>

                    <tbody>
                    @apis.map { api =>
                        <tr>
                            <td> @api.getName() </td>
                            <td> @api.getDescription() </td>

                        </tr>
                    }
                        @mashups.map { mashup =>
                            <tr>
                                <td> @mashup.getName() </td>
                                <td> @mashup.getDescription() </td>

                            </tr>
                        }

                    </tbody>
                </table>
            </div>

        </div>
    </div>

}

