@import UIForm.ApiForm

@(username: String, userType: String, api: ApiForm)

@main("Update API " + api.getName() + " - Service Repository") {
    @menu(username, userType)

    <div class="container">
        <h2>Submission Details</h2>
        <div class="row">
            <h5>@api.getType().toUpperCase() info</h5>
            @helper.form(action = routes.ApiVersionController.updateApi(api.getId)) {
                <div class="input-field col s12">
                    <input id="name" type="text" name="name" value="@api.getName()" autofocus>
                    <label for="name">API Name</label>
                </div>
                <div class="input-field col s12">
                    <input id="endpoint" type="text" value="@api.getEndpoint()" name="endpoint">
                    <label for="endpoint">API Endpoint</label>
                </div>
                <div class="input-field col s12">
                    <input id="homepage" type="text" value="@api.getHomepage()" name="homepage">
                    <label for="homepage">API Provider's Home Page</label>
                </div>
                <div class="input-field col s12">
                    <input id="version" type="text" value="@api.getVersion()" name="version">
                    <label for="version">Version</label>
                </div>
                <div class="input-field col s12">
                    <input id="description" type="text" value="@api.getDescription()" name="description">
                    <label for="description">API Description</label>
                </div>
                <div class="col s12">
                    <button class="btn right" type="submit">Update API
                        <i class="material-icons right">update</i>
                    </button>
                </div>
            }
        </div>
    </div>
}